/* reset css*/
/* html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	} */
/* remember to define focus styles! */
/* :focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	} */
/* tables still need cellspacing="0" in the markup */
/* table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	} */
/* remove possible quote marks (") from <q> & <blockquote> */
/* blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}  */


    /* header and nav */
* {
    max-width: 100%;
    /* border: 1px solid black; */
}
body {
    background-image: linear-gradient(#5534ab, #441, #5534ab) ;
}
/* Header */
.header {
    display: flex;
    margin: 2%;
}
h1 {
    font-size: 3.3rem;
}
.nav  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}
nav a:hover {
    background-color: #ffa;
    color: #222;
}
.links {
    background: #555;
    padding: 2%;
    text-decoration: none;
    color: white;
}
/* Hero */
section {
    margin: auto;
    padding: 5%;
}
.hero {
    width: 75%;
    height: 40vh;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row-reverse;
    background: rgba(18, 121, 9, 0.3);

}
.hero-img {
    width: 75%;
    height: 40vh;
    background-image: url(https://images.unsplash.com/photo-1615481188054-c56ecfc752e5?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    padding: 3%;
    margin:0 2% 2% 2%;
}
button{
    background: rgba(100, 175, 175, .6);
    padding: 1%;
    color: rgb(73, 43, 182);
}
/* Projects */
.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25%;
}
.projects div {
    width: 10%;
}
.pj {
    margin: auto;
    padding: 20%;
    width: 45%;
    height: 45%;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1615440116255-8a2823c91317?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOXx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}
.pj a {
    text-decoration: none;
    color: white;
}

.pj1 a {
    margin: auto;
    padding: 20%;
    width: 45%;
    height: 45%;
    text-align: center;
    background-image: src('../images/cichlidhaven.png');
}
/* Footer */
footer {
    width: 65%;
    height: 35vh;
    margin: 0 auto;
    color: white;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1615392030676-6c532fe0c302?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0NXx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: fill;

}
footer a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.github {
    width: 2.5%;
    height: 2.5%;
    padding: 1%;
}
.linkedin {
    width: 2.5%;
    height: 2.5%;
    padding: 1%;
}
/* ABOUT PAGE */
.aboutb{
    margin: auto;
    padding: 1%;
    background-image:radial-gradient(#aaa, #1188ff)
}
.ah1{
    margin: 5%;
    width: 50%;
}
.about_me{
    color: rgb(25, 25, 50);
    margin: auto;
    width: 65%;
    padding: 5%;
    background-color: rgba(100, 100, 100, .4);
}
/* Mobile */
@media(max-width: 500px){
    /* header */
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }
    .links{
        display: flex;
        justify-content: center;
        width: 25%;
        margin: 4% 3%;
        margin-left: 35%;
        z-index: 999;
    }
    /* hero */
    .hero{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 25%;
    }
    .hero-img{
        display: flex;
        justify-content: center;
        width: 80%;
        z-index: 500;
    }
    .hero div{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25%;
    }
    .hero p{
        padding: 5%;
        margin: 15%;
    }
    .me{
        display: none;
    }
    /* Projects */
    .projects{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .projects div{
      padding-top: 55%;
      width: 45%;
    }
    .pj{
        margin: auto;
    }
    /* Footer */
    footer{
        width: 85%;
    }
    .linkedin{
        width: 10%;
        height: 10%;
    }
    .github{
        width: 10%;
        height: 10%; 
    }
}
/* Tablet */
@media(max-width: 800px){
        /* header */
        .header{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 5%;
        }
        .links{
            display: flex;
            justify-content: center;
            width: 25%;
            margin: 4% 3%;
            margin-left: 35%;
        }
        /* hero */
        .hero{
            display: flex;
            flex-direction: column-reverse;
            margin-top: 20%;
        }
        .hero-img{
            width: 80%;
        }
        .hero div{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 25%;
        }
        .hero p{
            padding: 5%;
            margin: 15%;
        }
        .me{
            display: none;
        }
        /* Projects */
        .projects{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        .projects div{
          padding-top: 40%;
          width: 45%;
        }
        .pj{
            margin: auto;
        }
        /* Footer */
        footer{
            width: 85%;
            height: 40vh;
        }
        .linkedin{
            width: 6%;
            height: 6%;
        }
        .github{
            width: 6%;
            height: 6%; 
        }
}